body {
    background-color: rgb(44, 44, 44);
}
.assista {
    text-align: center;
    font-size: 80px;
}
.thumbnail {
    width: 200px;
    height: 130px;
    padding: 10px 10px;
}
h1,a{
    color: white;
}
img {
    margin-top: 20px;
}